{% extends 'base.html' %}
{% load static %}

{% block title %} Detail | {{ post.title }} {% endblock title %}

{% block content %}

<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2><img class="mb-4" src="{{ post.author.profile.photo.url }}" alt="not found" width="60" height="60">
        {{ post.title }} </h2>
      <small class="text-muted">{{ post.author|capfirst }} - {{ post.created|date:"D m, Y" }}</small>
      <br>
      <br>
      <p>{{ post.body }}</p>  
      <a class="btn btn-secondary" href="#" role="button">Edit Post »</a>
    </div>
  </div>

  <hr>

</div>

{% endblock content %}